header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
