<header class="header mt-5">
    <h1 class="header-title">Book Manager</h1>
    <p class="header-info">Seu gerenciador de livros favorito!</p>
</header>

<div class="menu">
    <card [icon]="'bi bi-tags-fill'"
          [title]="'Gerenciar Assuntos'"
          [route]="'assuntos'"
          [info]="'Acesse o módulo para adicionar, editar e visualizar os assuntos dos livros'">
    </card>

    <card [icon]="'bi bi-person-fill'"
          [title]="'Gerenciar Autores'"
          [route]="'autores'"
          [info]="'Acesse o módulo para adicionar, editar e visualizar os autores dos livros'">
    </card>

    <card [icon]="'bi bi-book'"
          [title]="'Gerenciar Livros'"
          [route]="'livros'"
          [info]="'Acesse o módulo para adicionar, editar e visualizar seus livros'">
    </card>

</div>
